body {
    font-family: sans-serif;
    background-color: green;
}

h1 {
    text-align: center;
}

h1:hover {
    color:white;
    background-color: darkgreen;
}

iframe {
    margin-left: 300px;
}

p {
    color: white;
    text-align: center;
}
